.row.especiales { margin: 60px 0; }
// .section-especiales { padding: 30px 0;height: 70vh; }
// .especiales.section { padding: 30px 0;height: 70vh; }

// Se aplica SOLO para tablet y moviles
// ------------------------------------
@include tablet{
  a.btn.btn-small.mt-10{ display: grid; }
  h2.mt-0 { margin: 20px 0; text-align: center; }
  .especiales .row.especiales { margin: 75px 0; }

  section.especiales.section { padding: 0; }
}

.especiales{  
  .block{
    h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      margin:0;
    }

    p {
      padding-top: 0px;
      line-height:28px;
    }

    img {
      width: 100%;
    }
  }

.especiales-img {
    overflow:hidden;

    &:hover img {
      transform: scale3D(1.1,1.1,1);
    }

    img {
      // opacity: .6;
      @include transition (all, 0.5s, ease-out);
    }
  }

  .section-title {
    margin-bottom: 0px;
  }
}
