// Original de Grid image CSS -> https://codepen.io/androsfenollosa/pen/WmpdzY
.grid-gallery {
	display: grid;
	grid-auto-rows: 350px;
	grid-gap: 0.2rem;
	grid-auto-flow: row dense;
}
  @media all and (min-width: 320px) {
	.grid-gallery { grid-template-columns: 0; grid-auto-rows: auto; grid-gap: 0; }
	.grid-gallery__item:nth-child(11n+6) { grid-column: span 2; grid-row: none; }
  }

  @media all and (min-width: 768px) {
	.grid-gallery { grid-template-columns: repeat(2, 2fr); grid-auto-rows: auto; grid-gap: 0; }
  }
	

  @media all and (min-width: 1024px) {
	.grid-gallery { grid-template-columns: repeat(4, 1fr); grid-gap: 0.2rem; }
  }
  .grid-gallery__item:nth-child(11n+1) {
	grid-column: span 1;
  }
  .grid-gallery__item:nth-child(11n+4) {
	grid-column: span 2;
	grid-row: span 1;
  }
  @media all and (min-width: 320px) {
	.grid-gallery__item:nth-child(11n+4) {
	  grid-column: span 1;
	  grid-row: span 1;
	}
  }
  .grid-gallery__item:nth-child(11n+6) {
	grid-column: span 2;
	grid-row: span 1;
  }
  .grid-gallery__item:nth-child(11n+7) {
	grid-column: span 2;
	grid-row: span 2;
  }
  .grid-gallery__item:nth-child(11n+8) {
	grid-column: span 2;
	grid-row: span 2;
  }
  .grid-gallery__item:nth-child(11n+9) {
	// grid-row: span 3;
	grid-row: none;
  }
  .grid-gallery__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

section.trabajos.section { padding: 0; }