{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.especiales }}
{{ if .habilitado }}
<section class="especiales section">

  {{ range .especiales_item }}

  <div class="container-pistakiavera">
    <div class="row especiales">
      <div class="col-md-4">
        <div class="especiales-img">
          <img loading="lazy" class="img-responsive" src="{{ .imagen_especiales | relURL }}" width="auto" height="auto" />
        </div>
      </div>
      <div class="col-md-8">
        {{ with .titulo_especiales }}<h2 class="mt-0">{{ . | markdownify }}</h2>{{ end }}
        {{ with .texto_especiales }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          {{ with .boton_especiales }}
            {{ if .habilitado }}
              <a href="{{ .enlace | relURL }}" target="_blank" rel="noopener noreferrer" class="btn btn-small mt-10" title="{{ .titulo }}" >{{ .etiqueta }}</a>
            {{ end }}
          {{ end }}
      </div>
    </div>
  </div>

  {{ end }}

</section>
{{ end }}
{{ end }}

{{ end }}
